<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Trang Admin</title>
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>
<div class="container">
    <h1>Xin chào, <span th:text="${adminName}">Admin</span></h1>

    <!-- Thống kê nhanh -->
    <div class="admin-stats">
        <a href="/admin/users" class="admin-box">
            <div>Người dùng</div>
        </a>
        <a href="/admin/posts" class="admin-box">
            <div>Bài viết</div>
        </a>
        <a href="/admin/categories" class="admin-box">
            <div>Danh mục</div>
        </a>

    </div>
    <div class="logout-container">
        <form th:action="@{/logout}" method="post">
            <button type="submit">Đăng xuất</button>
        </form>
    </div>



</div>
</body>
</html>
